<h1>Component Write</h1>

<form class='component' action='./save'>
	<fieldset class='componentDiagram'>
		<ul>
			<li>
			<fieldset id='stereoTypes'>
				<label for='webService'>WebService</label>
				<input type='checkbox' class='streoTypes' checked='checked' />
			</fieldset>
			</li>
			<li>
			<label for='name'>name</label>
			<input id='name' name='name' type='text' class='name' />
			</li>
			<li>
			<label for='label'>label</label>
			<input id='label' name='label' type='text' class='label' />
			</li>
		</ul>
	</fieldset>

	<fieldset class='extensions'>
		<ul>
			<li>
			<label for='description'>description</label>
			<textarea id='description' name='description'></textarea>
			</li>
			<li>
			<label for='interface'>interface</label>
			<input id='interface' name='interface' type='text' class='interface' />
			</li>
			<li>
			<label for='dependancy'>dependancy</label>
			<input id='dependancy' name='dependancy' type='text' class='dependancy' />
			</li>
		</ul>
	</fieldset>
</form>
